.venv
*__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.env
CLAUDE.md
GEMINI.md
description-aliexpress.md
scrap-test.py
